/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  50% {
    font-weight: bold;
    background-color: #38363d; /* 12% yellow, 88% base */
    color: #f9e2af;
    border-color: #f9e2af;
  }
}

@keyframes blink-critical {
  50% {
    font-weight: bold;
    background-color: #382b3d; /* 12% red, 88% base */
    color: #f38ba8;
    border-color: #f38ba8;
  }
}

@keyframes blink-activated {
  50% {
    font-weight: bold;
    background-color: #303147; /* 12% lavender, 88% base */
    color: #b4befe;
    border-color: #b4befe;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: Iosevka Nerd Font;
  font-size: 13px;
}

/* Each module */
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#disk,
#mode,
#network,
#wireplumber,
#temperature,
#tray,
#idle_inhibitor,
#mpris,
#window,
#workspaces button {
  padding: 7px 7px 6px;
  margin: 0px 1px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces button {
  padding-left: 0px;
  padding-right: 0px;
}

#mode,
#cpu.critical,
#memory.critical,
#temperature.critical,
#disk.critical,
#workspaces button.urgent,
#memory.critical {
  animation: blink-critical 2s steps(2, end) infinite;
  padding-bottom: 4px;
  border-bottom: 2px solid #1e1e2e;
}

#cpu.warning,
#memory.warning,
#disk.warning,
#network.disconnected,
#wireplumber.muted {
  animation: blink-warning 2s steps(2, end) infinite;
  padding-bottom: 4px;
  border-bottom: 2px solid #1e1e2e;
}

#idle_inhibitor.activated {
  animation: blink-activated 2s steps(2, end) infinite;
  padding-bottom: 4px;
  border-bottom: 2px solid #1e1e2e;
}

#clock,
#window {
  font-weight: bold;
}

#mpris.paused,
#mpris.stopped,
#workspaces button {
  color: #7f849c;
}

#workspaces button.visible {
  font-weight: bold;
  color: #cdd6f4;
}

#workspaces button.focused,
#mpris.playing {
  font-weight: bold;
  background-color: #303147; /* 12% lavender, 88% base */
  color: #b4befe;
  padding-bottom: 4px;
  border-bottom: 2px solid #b4befe;
}
